@media (max-width: 768px) {
  .container {
    width: 80%;
    padding: 1rem;
  }
  .grid {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .grid_section {
    width: 100%;
    max-width: 300px;
    padding: 0;
    margin: 1rem 0;
  }

  .header_section {
    width: 100%;
    margin-bottom: 1rem;
  }
  .card_shape {
    width: 300px !important;
  }

  .form_control {
    font-size: 0.9rem;
  }
}
